CK810=y
DO_C99_MATH=y
UCLIBC_HAS_FENV=y
KERNEL_HEADERS="/home/gary/disk0/source/uClibc.csky/source/linux-headers/include"
# DOPIC is not set
UCLIBC_HAS_THREADS_NATIVE=y
UCLIBC_SUSV3_LEGACY=y
UCLIBC_SUSV3_LEGACY_MACROS=y
UCLIBC_SUSV4_LEGACY=y
# UCLIBC_HAS___PROGNAME is not set
UCLIBC_HAS_IPV6=y
UCLIBC_HAS_EXTRA_COMPAT_RES_STATE=y
RUNTIME_PREFIX="/"
DEVEL_PREFIX="/usr"
MULTILIB_DIR="/lib"
CROSS_COMPILER_PREFIX="csky-abiv2-linux-"
